
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredericka the Great', cursive;
  color: #827717;
}

.hide-nav{
  display: none;
}

#surveyUrl {
  font-family:fantasy;
  color: #4527a0;
}

.btn {
  font-family: 'Fredericka the Great', cursive;
}

.clearfix {
  overflow: auto;
}

.brand-logo {
    margin-left: 1em;
}

input.estimate-textbox {
  width: 88%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.backToAdmin {
  margin-top: 45px;
}


.line-text {
  font-size: 1.5em !important;
  font-family: 'Fredericka the Great', cursive;

}

.estimate-border {
	border-top: 3px dotted #e5e5e5;
	border-bottom: 3px dotted #e5e5e5;
	box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
	margin-bottom: 1px;
}
